bin
src/smpl/syntax/lexer/SMPLLexer.ja*
src/smpl/syntax/parser/SMPLParser.java
src/smpl/syntax/parser/sym.java
*.bat
*.sh
src/smpl/syntax/lexer/SMPLLexer.java~
src/smpl/syntax/lexer/SMPLLexer.java
src/smpl/syntax/parser/sym.java
src/smpl/syntax/parser/SMPLParser.java
